

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: rgb(30, 35, 128);
}

.wrapper h3{
    font-size: 13.5px;
    text-align: center;
    margin: 40px 0 15px 0;
    font-weight: 400;

}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
    margin: -15px 0 15px 70px;
    font-weight: 400;
    
}
.remember-forgot a{
    color: rgb(39, 128, 192);
    text-decoration: none;
    
}
.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    font-weight: 400;
}
.register-link p a {
    color: rgb(46, 53, 176);
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
}